<!DOCTYPE html>
<head>
    <!-- <link rel="stylesheet" type="text/css" href="/static/teammatch/facutyconfig.css"> -->
    <title>TeamMatch</title>
</head>
<body>
	<div class="wrapper">
		<div class="container">
			<h1>Create Team for your class!</h1>
			
			<form class="form" action="{% url 'groupem:result' %}" method="post">
			  {% csrf_token %}
				<p>How many students in each group?</p>
				<input type="text" placeholder="Enter number">
				<button type="submit" id="submit-button">Submit</button>
			</form>
		</div>
</div>
</body>

